<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.terraformingmarscompanionapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".ui.main.TilePlacementActivity"></activity>
        <activity
            android:name=".ui.main.TitleScreen"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".GameCreationActivity" />
        <activity android:name=".ui.playDialogues.ChoiceDialog" android:theme = "@style/Theme.Transparent"/>
        <activity android:name=".InGameUI" />
        <activity android:name=".SearchActivity" />
        <activity android:name=".ui.main.LoginActivity" />
        <activity android:name=".GameCreationServerActivity" />
        <activity android:name=".GameJoiningActivity" />
        <activity android:name=".ui.main.ActivityResourceAddition" />
        <activity android:name=".ui.playDialogues.IntegerDialog" />
    </application>

</manifest>